.modal.replace-body {
  .modal-body {
    padding: 0 !important;

    .panel {
      margin: 0 !important;
    }
  }
}

/* Bootstrap overridden */
input {

  &[type=number]{
    width: 100% !important;
  }
}

/* Scroll to top control */
.scroll-to-top {
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  cursor: pointer; /* Add a mouse pointer on hover */
}