.modal.replace-body {
  .modal-body {
    padding: 0 !important;

    .panel {
      margin: 0 !important;
    }
  }
}

/* Bootstrap overridden */
input {

  &[type=number]{
    width: 100% !important;
  }
}